<div *ngIf="consultation as consult">
  <div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModalLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="moreModalLable">{{consult.patientName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <form #consultationUpdateForm="ngForm" (ngSubmit)="onConsultUpdate(consultationUpdateForm.value)">
            <fieldset [disabled]="!isEdit">
              <div class="mb-3">
                <label for="patientTextInput" class="form-label">Пациент:</label>
                <input name="patientName" type="text" class="form-control" [(ngModel)]="consult.patientName" placeholder="{{consult.patientName}}">
              </div>
              <div class="mb-3">
                <label for="diagnosisTextInput" class="form-label">Диагноз:</label>
                <input name="diagnosis" type="text" class="form-control" [(ngModel)]="consult.diagnosis" placeholder="{{consult.diagnosis}}">
              </div>
              <div class="mb-3">
                <label for="dateСonclusionTextInput" class="form-label">Дата:</label>
                <input name="dateConclusion" type="text" class="form-control" [(ngModel)]="consult.dateConclusion" placeholder="{{consult.dateConclusion | date: 'medium'}}">
              </div>
              <div class="mb-3">
                <label for="doctorTextInput" class="form-label">Доктор:</label>
                <input name="doctorName" type="text" class="form-control" [(ngModel)]="consult.doctorName" placeholder="{{consult.doctorName}}">
              </div>
              <div class="mb-3">
                <label for="recommendationTextInput" class="form-label">Рекомендации:</label>
                <input name="recommendation" type="text" class="form-control" [(ngModel)]="consult.recommendation" placeholder="{{consult.recommendation}}">
              </div>
              <div class="mb-3">
                <label for="departmentTextInput" class="form-label">Отделение:</label>
                <input name="department" type="text" class="form-control" [(ngModel)]="consult.department" placeholder="{{consult.department}}">
              </div>
            </fieldset>
            <div class="button-block">
              <button type="submit" [hidden]="!isEdit" class="btn btn-primary">Сохранить изменения</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>



